spring:
  datasource:
    url: ${LOCAL_DB_URL:jdbc:postgresql://localhost:5433/authdb}
    username: ${LOCAL_DB_USERNAME:authuser}
    password: ${LOCAL_DB_PASSWORD:authpass}
    driver-class-name: org.postgresql.Driver
  docker:
    compose:
      enabled: false
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
