spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/authdb
    username: authuser
    password: authpass
    driver-class-name: org.postgresql.Driver
  docker:
    compose:
      enabled: false
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
