name: Auth Service CI

on:
  push:
    branches: [ "main" ] #after merge 
  pull_request:
    branches: [ "main" ] #before merge

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 25
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'
     
      - name: Make mvnw executable
        run: chmod +x ./mvnw
      
      - name: Build & Verify
        run: ./mvnw clean verify
  
        